*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
   
}
.header-resume{
    font-family: "New Amsterdam", system-ui;
    font-weight: 400;
    font-style: normal;
}
.header-resume h1{
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
}
.header-resume h4{
    text-align: center;
    padding-top: 10px;
}
.resume-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}
.form-row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    
}
.form-row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    
}
.form-row-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    
}
.form-row-4{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    /* flex-wrap: wrap; */
    
}
.form-row-5{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */

}
.form-1{
    display: flex;
    flex-direction: column;
    /* align-items: ; */
    margin: 0 20px;
}
.form-1 input{
    width: 30vw;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    outline:none;
    border:none;
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.form-1 label{
    padding: 8px 0;
}
.contInp input{
margin: 0 20px;
}
.labl{
    padding: 8px 0;
}
.edit-btn{
    padding: 20px ;
    background-color: burlywood;
    border: none;
    font-family: "New Amsterdam", system-ui;
    font-weight: 400;
    font-size: 20px;
    border-radius: 50%;
    position: relative;
    /* left: -35px; */
    top: 20px;
    cursor: pointer;
}
#profile{
    width: 30vw;
    padding: 20px;
    border-radius: 5px;
    resize: none;
    outline:none;
    border:none;
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
#work-experience{
    width: 30vw;
    padding: 20px;
    border-radius: 5px;
    resize: none;
    outline:none;
    border:none;
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.work input{
    margin: 5px 0;
}
.resume-btn{
    margin-top: 30px;
    padding: 15px 25px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: burlywood;
    color: #fff;
}
.form-1 p{
    color: crimson;
}