

/* home */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
  font-weight: 400;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-color: #F4F4F4;
    padding: 5px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}
.header img{
    height: 90px;
    width: 90px;
    border-radius: 10%;
    object-fit: cover;
}
.header h1{
    font-family: "New Amsterdam", serif;
    font-size: 50px;
    color: #dbdcdd;
}
.resume-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 0;
}
.resume-content h1{
    font-family: "Cherry Bomb One", serif;
    font-size: 50px;
    color: #dbdcdd;
}
.resume-content h2{
    font-family: "New Amsterdam", serif;   
    color: #e8e8e9;
    padding: 5px 0;
}
.resume-content p{
    width: 500px;
    color: #adadad;
    padding: 15px 0;
}
.resume-btn{
    padding-top:15px ;

}
.resume-btn button a{
    text-decoration: none;
    color: #c4c5c5;
}
.resume-btn button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  /* color: #36395A; */
  cursor: pointer;
  display: inline-flex;
  /* font-family: "JetBrains Mono",monospace; */
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.resume-btn button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.resume-btn button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.resume-btn button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.resume-img{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding: 10px;
    border-radius: 20px;
    
}
.resume-img img{
    width: 500px;
    height: 350px;
}
.footer{
    text-align: center;
    background-color: #F4F4F4;   
    padding: 10px 0;
    color: #c4c5c5;
}
/* header */
@media only screen and (max-width:620px) {
    .header{
        gap: 100px;
    }
}
@media only screen and (max-width:510px) {
    .header{
        gap: 100px;
    }
    .header img{
        width: 70px;
        height: 70px;
    }
    .header h1{
        font-size: 40px;
    }
}
@media only screen and (max-width:440px) {
    .header{
        gap: 50px;
    }
    .header img{
        width: 70px;
        height: 70px;
    }
    .header h1{
        font-size: 40px;
    }
}
@media only screen and (max-width:380px) {
    .header img{
        width: 50px;
        height: 50px;
    }
    .header h1{
        font-size: 30px;
    }
};
@media only screen and (max-width:300px) {
    .header{
        gap: 30px;
    }
}

/* main */
@media only screen and (max-width:1080px) {
    .resume-section{
        height: 80vh;
    }
   .resume-img img{
    width: 400px;
    height: 300px;
   }
}
@media only screen and (max-width:950px) {
    .resume-content h1{
        font-size: 45px;
    }
   .resume-img img{
    width: 350px;
    height: 300px;
   }
}
@media only screen and (max-width:900px) {
    .resume-content h1{
        font-size: 40px;
    }
    .resume-content p{
        width: 400px;
    }
   .resume-img img{
    width: 350px;
    height: 300px;
   }
}
@media only screen and (max-width:900px) {
    .resume-content h1{
        font-size: 40px;
    }
    .resume-content p{
        width: 350px;
    }
   .resume-img img{
    width: 320px;
    height: 300px;
   }
   .resume-btn button{
    height: 40px;
   }
}
@media only screen and (max-width:730px) {
    .resume-content h1{
        font-size: 35px;
    }
    .resume-content h2{
        font-size: 20px;
    }
    .resume-content p{
        width: 300px;
        font-size: 14px;
    }
   .resume-img img{
    width: 300px;
    height: 280px;
   }
}
@media only screen and (max-width:660px) {
    .resume-section{
        height: 100vh;
        flex-direction: column;
        padding: 30px 0;
    }
    .resume-content{
        padding-bottom: 20px;
    }
    .resume-content h1{
        font-size: 40px;
    }
    .resume-content p{
        width: 400px;
    }
   .resume-img img{
    width: 400px;
    height: 300px;
   }
}
@media only screen and (max-width:450px) {
    .resume-content{
        padding-bottom: 20px;
    }
    .resume-content h1{
        font-size: 40px;
    }
    .resume-content p{
        width: 350px;
    }
   .resume-img img{
    width: 350px;
    height: 300px;
   }
}
@media only screen and (max-width:400px) {
    .resume-content h1{
        font-size: 40px;
    }
    .resume-content p{
        width: 300px;
    }
   .resume-img img{
    width: 300px;
    height: 300px;
   }
   .resume-btn button{
    font-size: 15px;
   }
}
@media only screen and (max-width:350px) {
    .resume-content h1{
        font-size: 35px;
    }
    .resume-content p{
        width: 280px;
        font-size: 13px;
    }
   .resume-img img{
    width: 250px;
    height: 250px;
   }
   .resume-btn button{
    font-size: 15px;
   }
}
@media only screen and (max-width:300px) {
    .resume-content h1{
        font-size: 30px;
    }
    .resume-content p{
        width: 250px;
        font-size: 13px;
    }
   .resume-img img{
    width: 250px;
    height: 250px;
   }
   .resume-btn button{
    font-size: 13px;
   }
}