<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="../styles/resume.css">
    <link rel="stylesheet" href="../styles/editform.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <main>
        <div class="update-cv hide" id="edit-resume-form">
            <h1>Edit Resume</h1>
            <form action="" class="resume-form" id="form-edit-resume">
                <div class="form-row-1">
                   <div class="form-1">
                    <label for="">Full Name:</label>
                    <input type="text" name="" id="username" placeholder="Enter Your Name">
                    <p></p>
                   </div>
                    <div class="form-1">
                        <label for="">Email:</label>
                        <input type="text" name="" id="useremail" placeholder="Enter Your Email">
                        <p></p>
                    </div>
                </div>
                <div class="form-row-2">
                    <div class="form-1">
                     <label for="">Phone Number:</label>
                     <input type="text" name="" id="usernumber" placeholder="Enter Your Number">
                     <p></p>
                    </div>
                     <div class="form-1">
                         <label for="">Job Title:</label>
                         <input type="text" name="" id="userjob" placeholder="Enter Your Job Title">
                         <p></p>
                     </div>
                 </div>
                 <div class="form-row-3">
                    
                    <div class="form-1 education">
                        <label for="">Your Education :</label>
                        <input type="text" name="" id="schoolname" placeholder="Enter Your School Name">
                        <p></p>
                        <input type="text" name="" id="schoolperiod" placeholder="Enter Your School Period">
                        <p></p>
                        <input type="text" name="" id="collegename" placeholder="Enter Your College Name">
                        <p></p>
                        <input type="text" name="" id="collegeperiod" placeholder="Enter Your College Period">
                        <p></p>
                        <input type="text" name="" id="university" placeholder="Enter Your University Name">
                        <p></p>
                        <input type="text" name="" id="universitysub" placeholder="Enter Your University Subject">
                        <p></p>
                        <input type="text" name="" id="universityperiod" placeholder="Enter Your University Period">
                        <p></p>
                    </div>
                     <div class="form-1 work">
                         <label for="">Work Experience :</label>
                         <input type="text" name="" id="job" placeholder="Enter Your Last Job">
                         <p></p>
                         <input type="text" name="" id="company" placeholder="Enter Your Last Company">
                         <p></p>
                         <input type="text" name="" id="period" placeholder="Enter Your Employment Period">
                         <p></p>
                         <textarea name="" id="work-experience" rows="6" placeholder="Enter Your Work Experience"></textarea>
                         <p></p>
                     </div>
                 </div>
                 <div class="form-row-4">

                     <div class="form-1">
                         <label for="">Your Skill:</label>
                         <input type="text" name="" id="skill" placeholder="Enter Your Skill Seprated by One Space">
                         <p></p>
                        </div>
                        <div class="form-1">
                            <label for="">Your Language :</label>
                            <input type="text" name="" id="language" placeholder="Enter Your Language Seprated by One Space">
                            <p></p>
                        </div>
                    </div>
                    <div class="form-row-5">

                      <div class="form-double">
                        <div class="form-1 contact">
                            <label for="">Your Contect Details:</label>
                            <input type="text" name="" id="address" placeholder="Enter Your Address">
                            <p></p>
                            <input type="text" name="" id="portfolio" placeholder="Enter Your Portfolio Link">
                            <p></p>
                           </div>
                           <div class="form-1 contact">
                            <label for="">Your Picture:</label>
                            <input type="file" name="" id="picture" accept=".jpg,.jpeg,.webp,.png">
                            <p></p>
                        </div>
                      </div>
                           <div class="form-1">
                            <label for="">Your Profile:</label>
                               <textarea name="" id="profile" rows="6" placeholder="Enter Your Profile"></textarea>
                               <p></p>
                           </div>
                       </div>

                       <button class="resume-btn">Edit Resume</button>
                 
              
            </form>
        </div> 
        <section class="cv" id="cv-container">
            <button class="editbtn">Edit CV</button>
        <button class="downladPdf">Download CV</button>
        <section id="resume-parent" >
             
        </section>
        </section>
    </main>

    <script type="module" src="../dist/resume.js"></script>
    <script type="module" src="../dist/form.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
</body>
</html>